<!DOCTYPE html>
<html lang="ru">
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Products</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h1>Демо-магазин</h1>

    <form novalidate ng-submit="fillProducts()">
        <h3>Фильтр</h3>
        <div class="form-group row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Название" ng-model="productFilter.title" id="filterTitle">
            </div>
            <div class="col">
                <input class="form-control" type="number" placeholder="Мин. цена" ng-model="productFilter.minPrice"
                       id="filterMinPrice">
            </div>
            <div class="col">
                <input class="form-control" type="number" placeholder="Макс. цена" ng-model="productFilter.maxPrice"
                       id="filterMaxPrice">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-danger" type="submit">Применить</button>
            </div>
        </div>
    </form>

    <div class="form-group">
        <h3>Список товаров</h3>
        <table cellpadding="0" cellspacing="0" class="table table-hover">
            <thead>
            <tr>
                <td>Название</td>
                <td>Цена</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in productList">
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="delete(p.id)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="form-group" align="center">
        <button class="btn btn-secondary" ng-click="prevPage()">&lt;&lt;&lt;</button>
        <span style="font-size: large; color: red; font-family: Arial; font-weight: bold">&emsp;{{currentPage + 1}}&emsp;</span>
        <button class="btn btn-secondary" ng-click="nextPage()">&gt;&gt;&gt;</button>
    </div>

    <div class="form-group">
        <form novalidate ng-submit="submitCreateNewProduct()">
            <h3>Новый товар</h3>
            <div class="form-row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Название" ng-model="newProduct.title" id="newProductTitle">
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" placeholder="Цена" ng-model="newProduct.price" id="newProductPrice">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>